* {
	background-color: black;
}

.App {
	text-align: center;
	background-color: black;
	color: white;
	height: fit-content;
	border: solid turquoise;
}

.TopContainer {
	border: solid purple;
}

.linkDiv {
	display: flex;
	justify-content: space-between;
	/* border: solid seagreen; */
}

.MainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid plum;
}

.BottomContainer {
	border: solid salmon;
}

.bigButton {
	height: 50px;
	width: 100%;
	font-size: 25px;
	padding: 10px;
	border-radius: 10px;
	margin: 1px;
	font-family: 'Franklin Gothic Medium';
	border: solid darkslategray;
	color: darkslategray;
}

.bigButton:hover {
	background-color: darkslateblue; 
	border: solid teal;
	color: lightgray;
}

.littleButton {
	height: 25px;
	width: 100px;
	background-color: black;
	border: .2px solid gray;
	color: lightgray;
	border-radius: 5px;
	margin: 5px;
}

.littleButton:hover {
	background-color: darkslateblue;
	color: white;
}


.imgContainer {
	display: flex;
	flex-direction: row;
	width: fit-content;
	border: 1px solid palegreen;
}

.textDiv {
	display: flex;
	align-items: center;
	font-family: 'Cambria';
	font-size: 15px;
	line-height: 25px;
	font-style: italic;
	padding: 25px;
	width: 200px;
	margin: 1px;
	margin-right: 5px;
	border-radius: 25px;
	border: 1px solid teal;
}

.imgDiv {
	margin: 1px;
	margin-left: 5px;
	border: 1px solid darkred;
}

.sideBar {
	font-family: 'Cambria';
	font-size: 15px;
	line-height: 25px;
	font-style: italic;
	padding: 25px;
	width: 200px;
	margin: 1px;
	margin-right: 5px;
	border: 1px solid teal;
}

.imgList {
	margin: 1px;
	margin-left: 5px;
	border: 1px solid darkred;
}

.hidden {
	display: none;
}
