* {
	background-color: black;
}

.App {
	text-align: center;
	background-color: black;
	color: white;
	height: fit-content;
	border: solid turquoise;
}

.TopContainer {
	border: solid purple;
}

.MainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid plum;
}

.BottomContainer {
	border: solid salmon;
}

button {
	height: 50px;
	width: 100%;
	font-size: 25px;
	padding: 10px;
	border-radius: 10px;
	margin: 1px;
	font-family: 'Franklin Gothic Medium';
	border: solid darkslategray;
	color: darkslategray;
}

button:hover {
	background-color: darkslateblue;
	border: solid teal;
	color: lightgray;
}

.imgContainer {
	display: flex;
	flex-direction: row;
	width: fit-content;
	border: solid palegreen;
}

.textDiv {
	display: flex;
	align-items: center;
	font-family: 'Cambria';
	font-size: 15px;
	line-height: 25px;
	font-style: italic;
	padding: 25px;
	width: 200px;
	margin: 1px;
	margin-right: 5px;
	border-radius: 25px;
	border: 1px solid teal;
}

.imgDiv {
	margin: 1px;
	margin-left: 5px;
	border: 1px solid darkred;
}

.hidden {
	display: none;
}
