* {
	background-color: black;
}

.App {
	text-align: center;
	background-color: black;
	color: white;
	height: fit-content;
	border: solid turquoise;
}

.TopContainer {
	border: solid purple;
}

.linkDiv {
	display: flex;
	justify-content: space-between;
	/* border: solid seagreen; */
}

.MainContainer {
	border: solid plum;
}

.Apod {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.littleImg {
	margin-bottom: 20px;
}

.BottomContainer {
	border: solid salmon;
}

.bigButton {
	height: 50px;
	width: 100%;
	font-size: 25px;
	padding: 10px;
	border-radius: 10px;
	margin: 1px;
	font-family: 'Franklin Gothic Medium';
	border: solid darkslategray;
	color: darkslategray;
}

.bigButton:hover {
	background-color: darkslateblue; 
	border: solid teal;
	color: lightgray;
}

.littleButton {
	height: 25px;
	width: fit-content;
	background-color: black;
	border: .2px solid gray;
	color: lightgray;
	border-radius: 5px;
	margin: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.littleButton:hover {
	background-color: darkslateblue;
	color: white;
}

.imgContainer {
	display: flex;
	flex-direction: row;
	width: fit-content;
	border: 1px solid palegreen;
}

.textDiv {
	display: flex;
	align-items: center;
	font-family: 'Cambria';
	font-size: 15px;
	line-height: 25px;
	font-style: italic;
	padding: 25px;
	width: 200px;
	margin: 1px;
	margin-right: 5px;
	border-radius: 25px;
	border: 1px solid teal;
}

.imgDiv {
	margin: 1px;
	margin-left: 5px;
	border: 1px solid darkred;
}

.imgList {
	margin: 1px;
	margin-left: 5px;
	border: 3px solid darkred;
}

.ListItem {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: solid pink;
	border-radius: 25px;
	margin: 5px;
	padding: 5px;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 30%;
}

.hidden {
	display: none;
}
